{% extends "layouts/master.html" %}

{% block title %}
Menu | INDEX
{% endblock %}

{% block content %}
<div class="container">
    <h1>This is MENU Index Page</h1>
    <hr>
    <div class="card p-5">
        <table class="table table-hover">
            <thead>
                <th>S.No</th>
                <th>Title</th>
                <th>Category</th>
                <th>Desc</th>
                <th>Price</th>
            </thead>
            <tbody>
                {% for val in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ val.menu_title }}</td>
                    <td>{{ val.category_id.category_name }}</td>
                    <td>{{ val.menu_desc }}</td>
                    <td>{{ val.menu_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}